In [19]:
import pandas as pd
import numpy as np
import csv

In [73]:
fulldata =  pd.read_csv("AllMoviesDetailsCleaned.csv",sep =";") 
fulldata.head()

C:\Users\rsantacruz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [74]:
fulldata["id"]

0              2
1              3
2              5
3              6
4              8
5              9
6             11
7             12
8             13
9             14
10            15
11            16
12            17
13            18
14            19
15            20
16            21
17            22
18            24
19            25
20            26
21            27
22            28
23            30
24            31
25            32
26            33
27            35
28            38
29            55
           ...
329014    469189
329015    469190
329016    469191
329017    469192
329018    469193
329019    469194
329020    469195
329021    469197
329022    469198
329023    469199
329024    469200
329025    469201
329026    469202
329027    469203
329028    469204
329029    469205
329030    469206
329031    469207
329032    469208
329033    469209
329034    469210
329035    469211
329036    469212
329037    469213
329038    469214
329039    469215
329040    469216
329041    469217
329042    469218
329043    469219
Name: id, Length: 329044, dtype: int64

In [16]:
archivo1 = "1-Small-MoviesDetailsCleaned.csv"
archivo2 = "2-Small-MoviesCastingRaw-small.csv"

moviesDetails = pd.read_csv(archivo1,sep =";")
moviesCasting = pd.read_csv(archivo2,sep =";")



moviesDetails.head(2)

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3

In [14]:
moviesCasting.head()

,id,actor1_name,actor1_gender,actor2_name,actor2_gender,actor3_name,actor3_gender,actor4_name,actor4_gender,actor5_name,actor5_gender,actor_number,director_name,director_gender,director_number,producer_name,producer_number,screeplay_name,editor_name
0,2,Turo Pajala,0,Susanna Haavisto,0,Matti Pellonpää,2,Eetu Hilkamo,0,none,0,4,Aki Kaurismäki,0,1,none,0,Aki Kaurismäki,Raija Talvio
1,3,Matti Pellonpää,2,Kati Outinen,1,Sakari Kuosmanen,2,Esko Nikkari,2,Kylli Köngäs,0,7,Aki Kaurismäki,0,1,Mika Kaurismäki,1,Aki Kaurismäki,Raija Talvio
2,5,Tim Roth,2,Antonio Banderas,2,Jennifer Beals,1,Madonna,1,Marisa Tomei,1,24,Allison Anders,1,4,Lawrence Bender,1,none,Margaret Goodspeed
3,6,Emilio Estevez,2,Cuba Gooding Jr.,2,Denis Leary,2,Jeremy Piven,2,Peter Greene,2,15,Stephen Hopkins,2,1,Gene Levy,1,Lewis Colick,Tim Wellburn
4,8,none,0,none,0,none,0,none,0,none,0,0,Timo Novotny,0,1,Timo Novotny,2,Michael Glawogger,Timo Novotny

In [25]:
lst =[]
dialect = csv.excel()
dialect.delimiter=";"
file ="test.csv"
try:
    with open(file, encoding="utf-8") as csvfile:
        spamreader = csv.DictReader(csvfile, dialect=dialect)
        for row in spamreader:
            print("llliisiis row...", row )
            lst.append(row)
except:
    del lst[:]
    print("Se forpresento un error en la carga del archivo")

lst

llliisiis row... OrderedDict([('id', '1'), ('nombre', 'Pedro Perez'), ('telefono', '123'), ('empresa', 'Los Alpes')])
llliisiis row... OrderedDict([('id', '2'), ('nombre', 'Juan Pedro Rodriguez'), ('telefono', 'Los Montes'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '3'), ('nombre', 'Juana Rangel'), ('telefono', 'Las Sierras'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '4'), ('nombre', 'Ana Hernandez'), ('telefono', 'Los Cerros'), ('empresa', None)])

[OrderedDict([('id', '1'),
              ('nombre', 'Pedro Perez'),
              ('telefono', '123'),
              ('empresa', 'Los Alpes')]),
 OrderedDict([('id', '2'),
              ('nombre', 'Juan Pedro Rodriguez'),
              ('telefono', 'Los Montes'),
              ('empresa', None)]),
 OrderedDict([('id', '3'),
              ('nombre', 'Juana Rangel'),
              ('telefono', 'Las Sierras'),
              ('empresa', None)]),
 OrderedDict([('id', '4'),
              ('nombre', 'Ana Hernandez'),
              ('telefono', 'Los Cerros'),
              ('empresa', None)])]

In [24]:
dialect = csv.excel()
dialect.delimiter=";"
file ="test.csv"
with open(file, encoding="utf-8") as csvfile:
    spamreader = csv.DictReader(csvfile, dialect=dialect)
    for row in spamreader:
        print("llliisiis row...", row )
        lst.append(row)
lst

llliisiis row... OrderedDict([('id', '1'), ('nombre', 'Pedro Perez'), ('telefono', '123'), ('empresa', 'Los Alpes')])
llliisiis row... OrderedDict([('id', '2'), ('nombre', 'Juan Pedro Rodriguez'), ('telefono', 'Los Montes'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '3'), ('nombre', 'Juana Rangel'), ('telefono', 'Las Sierras'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '4'), ('nombre', 'Ana Hernandez'), ('telefono', 'Los Cerros'), ('empresa', None)])

[OrderedDict([('id', '1'),
              ('nombre', 'Pedro Perez'),
              ('telefono', '123'),
              ('empresa', 'Los Alpes')]),
 OrderedDict([('id', '2'),
              ('nombre', 'Juan Pedro Rodriguez'),
              ('telefono', 'Los Montes'),
              ('empresa', None)]),
 OrderedDict([('id', '3'),
              ('nombre', 'Juana Rangel'),
              ('telefono', 'Las Sierras'),
              ('empresa', None)]),
 OrderedDict([('id', '4'),
              ('nombre', 'Ana Hernandez'),
              ('telefono', 'Los Cerros'),
              ('empresa', None)])]

In [41]:
for ele in lst:
    print(ele['nombre'])
    print(type(ele))

Pedro Perez
<class 'collections.OrderedDict'>
Juan Pedro Rodriguez
<class 'collections.OrderedDict'>
Juana Rangel
<class 'collections.OrderedDict'>
Ana Hernandez
<class 'collections.OrderedDict'>

In [32]:
criteria = "123"
column = "telefono"
counter = 0
for element in lst:
    if criteria.lower() in element[column].lower(): #filtrar por palabra clave 
        counter+=1
#t1_stop = process_time() #tiempo final
#print("Tiempo de ejecución ",t1_stop-t1_start," segundos")
counter

1

In [33]:
lst[1]

OrderedDict([('id', '2'),
             ('nombre', 'Juan Pedro Rodriguez'),
             ('telefono', 'Los Montes'),
             ('empresa', None)])

In [40]:
type(lst)

list

In [45]:
moviesDetails[moviesDetails.duplicated(subset=['id'])]

Empty DataFrame
Columns: [id, budget, genres, imdb_id, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, production_companies_number, production_countries_number, spoken_languages_number]
Index: []

[0 rows x 22 columns]

In [46]:
moviesCasting[moviesCasting.duplicated(subset=['id'])]

Empty DataFrame
Columns: [id, actor1_name, actor1_gender, actor2_name, actor2_gender, actor3_name, actor3_gender, actor4_name, actor4_gender, actor5_name, actor5_gender, actor_number, director_name, director_gender, director_number, producer_name, producer_number, screeplay_name, editor_name]
Index: []

In [49]:
dialect = csv.excel()
dialect.delimiter=";"
file ="test.csv"
lista=[]
with open(archivo1, encoding="utf-8") as csvfile:
    spamreader = csv.DictReader(csvfile, dialect=dialect)
    for row in spamreader:
        #print("llliisiis row...", row )
        lista.append(row)
len(lista)

2000

In [51]:
lista[0]

OrderedDict([('id', '2'),
             ('budget', '0'),
             ('genres', 'Drama|Crime'),
             ('imdb_id', 'tt0094675'),
             ('original_language', 'fi'),
             ('original_title', 'Ariel'),
             ('overview',
              "Taisto Kasurinen is a Finnish coal miner whose father has just committed suicide and who is framed for a crime he did not commit. In jail, he starts to dream about leaving the country and starting a new life. He escapes from prison but things don't go as planned..."),
             ('popularity', '0.823904'),
             ('production_companies', 'Villealfa Filmproduction Oy'),
             ('production_countries', 'Finland'),
             ('release_date', '21/10/1988'),
             ('revenue', '0'),
             ('runtime', '69'),
             ('spoken_languages', 'suomi'),
             ('status', 'Released'),
             ('tagline', ''),
             ('title', 'Ariel'),
             ('vote_average', '7.1'),
             ('vote_count', '40'),
             ('production_companies_number', '2'),
             ('production_countries_number', '1'),
             ('spoken_languages_number', '2')])

In [50]:
dialect = csv.excel()
dialect.delimiter=";"
file ="test.csv"
lista2=[]
with open(archivo2, encoding="utf-8") as csvfile:
    spamreader = csv.DictReader(csvfile, dialect=dialect)
    for row in spamreader:
        #print("llliisiis row...", row )
        lista2.append(row)
len(lista2)

2000

In [53]:
lista2[0]

OrderedDict([('id', '2'),
             ('actor1_name', 'Turo Pajala'),
             ('actor1_gender', '0'),
             ('actor2_name', 'Susanna Haavisto'),
             ('actor2_gender', '0'),
             ('actor3_name', 'Matti Pellonpää'),
             ('actor3_gender', '2'),
             ('actor4_name', 'Eetu Hilkamo'),
             ('actor4_gender', '0'),
             ('actor5_name', 'none'),
             ('actor5_gender', '0'),
             ('actor_number', '4'),
             ('director_name', 'Aki Kaurismäki'),
             ('director_gender', '0'),
             ('director_number', '1'),
             ('producer_name', 'none'),
             ('producer_number', '0'),
             ('screeplay_name', 'Aki Kaurismäki'),
             ('editor_name', 'Raija Talvio')])

In [75]:
dialect = csv.excel()
dialect.delimiter=";"
file ="AllMoviesDetailsCleaned.csv"
fulldata=[]
with open(file, encoding="utf-8") as csvfile:
    spamreader = csv.DictReader(csvfile, dialect=dialect)
    for row in spamreader:
        #print("llliisiis row...", row )
        fulldata.append(row)
len(fulldata)

329044

In [78]:
fulldata[10]

OrderedDict([('\ufeffid', '15'),
             ('budget', '839727'),
             ('genres', 'Mystery|Drama'),
             ('imdb_id', 'tt0033467'),
             ('original_language', 'en'),
             ('original_title', 'Citizen Kane'),
             ('overview',
              'Newspaper magnate, Charles Foster Kane is taken from his mother as a boy and made the ward of a rich industrialist. As a result, every well-meaning, tyrannical or self-destructive move he makes for the rest of his life appears in some way to be a reaction to that deeply wounding event.'),
             ('popularity', '3.82689'),
             ('production_companies', 'RKO Radio Pictures'),
             ('production_countries', 'United States of America'),
             ('release_date', '30/04/1941'),
             ('revenue', '23217674'),
             ('runtime', '119'),
             ('spoken_languages', 'English'),
             ('status', 'Released'),
             ('tagline', "It's Terrific!"),
             ('title', 'Citizen Kane'),
             ('vote_average', '7.9'),
             ('vote_count', '1110'),
             ('production_companies_number', '2'),
             ('production_countries_number', '1'),
             ('spoken_languages_number', '1')])

In [82]:
def countElementsByCriteria1(criteria, column, lst):
    """
    Retorna la cantidad de elementos que cumplen con un criterio para una columna dada
    """
   

    promedio =[]


    

    
    if len(lst)==0:
        print("La lista esta vacía")  
        return 0
    else:
        #t1_start = process_time() #tiempo inicial
        #counter=0 #Cantidad de repeticiones
        for element in lista2: #encontarra los id de peliculas por director
            if criteria.lower() in element[column].lower(): #filtrar por palabra clave 
                id = element["id"]
                for elem in lst:    #encontarra las peliculas del director
                    if elem["id"] == id:
                        if float(elem["vote_average"]) >= 6:
                            promedio.append(float(elem["vote_average"]))
                            break





        #t1_stop = process_time() #tiempo final
        #print("Tiempo de ejecución ",t1_stop-t1_start," segundos")
    return promedio

In [83]:
l= countElementsByCriteria1("Kaurismäki","director_name",lista)
len(l)
l

[7.1, 7.0, 6.5]

In [84]:
sum(l)

20.6